{% extends "students/base.html" %}
{% load static %}

{% block meta_title %}Відвідування{% endblock meta_title %}

{% block title %}Журнал відвідувань{% endblock title %}

{% block content %}

        <table class="table table-hover table-striped table-bordered table-sm">

          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Студент</th>
              <th scope="col">Mo 01</th>
              <th scope="col">Tu 02</th>
              <th scope="col">We 03</th>
              <th scope="col">Th 04</th>
              <th scope="col">Fr 05</th>
              <th scope="col">Sa 06</th>
              <th scope="col">Su 07</th>
              <th scope="col">Mo 08</th>
              <th scope="col">Tu 09</th>
              <th scope="col">We 10</th>
              <th scope="col">Th 11</th>
              <th scope="col">Fr 12</th>
              <th scope="col">Sa 13</th>
              <th scope="col">Su 14</th>
              <th scope="col">Mo 15</th>
              <th scope="col">Tu 16</th>
              <th scope="col">We 17</th>
              <th scope="col">Th 18</th>
              <th scope="col">Fr 19</th>
              <th scope="col">Sa 20</th>
              <th scope="col">Su 21</th>
              <th scope="col">Mo 22</th>
              <th scope="col">Tu 23</th>
              <th scope="col">We 24</th>
              <th scope="col">Th 25</th>
              <th scope="col">Fr 26</th>
              <th scope="col">Sa 27</th>
              <th scope="col">Su 28</th>
              <th scope="col">Mo 29</th>
              <th scope="col">Tu 30</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <th scope="row">1</th>
              <td><a href="#">Шварценеггер</a></td>
              <td class="text-center">
                  <input type="checkbox" class="align-middle">
              </td>
              <td class="text-center">
                  <input type="checkbox" class="align-middle">
              </td>
              <td class="text-center">
                  <input type="checkbox" class="align-middle">
              </td>
              <td class="text-center">
                  <input type="checkbox" class="align-middle">
              </td>
              <td class="text-center">
                  <input type="checkbox" class="align-middle">
              </td>
              <td class="text-center">
                  <input type="checkbox" class="align-middle">
              </td>
              <td class="text-center">
                  <input type="checkbox" class="align-middle">
              </td>
              <td class="text-center">
                  <input type="checkbox" class="align-middle">
              </td>
              <td class="text-center">
                  <input type="checkbox" class="align-middle">
              </td>
              <td class="text-center">
                  <input type="checkbox" class="align-middle">
              </td>
              <td class="text-center">
                  <input type="checkbox" class="align-middle">
              </td>
              <td class="text-center">
                  <input type="checkbox" class="align-middle">
              </td>
              <td class="text-center">
                  <input type="checkbox" class="align-middle">
              </td>
              <td class="text-center">
                  <input type="checkbox" class="align-middle">
              </td>
              <td class="text-center">
                  <input type="checkbox" class="align-middle">
              </td>
              <td class="text-center">
                  <input type="checkbox" class="align-middle">
              </td>
              <td class="text-center">
                  <input type="checkbox" class="align-middle">
              </td>
              <td class="text-center">
                  <input type="checkbox" class="align-middle">
              </td>
              <td class="text-center">
                  <input type="checkbox" class="align-middle">
              </td>
              <td class="text-center">
                  <input type="checkbox" class="align-middle">
              </td>
              <td class="text-center">
                  <input type="checkbox" class="align-middle">
              </td>
              <td class="text-center">
                  <input type="checkbox" class="align-middle">
              </td>
              <td class="text-center">
                  <input type="checkbox" class="align-middle">
              </td>
              <td class="text-center">
                  <input type="checkbox" class="align-middle">
              </td>
              <td class="text-center">
                  <input type="checkbox" class="align-middle">
              </td>
              <td class="text-center">
                  <input type="checkbox" class="align-middle">
              </td>
              <td class="text-center">
                  <input type="checkbox" class="align-middle">
              </td>
              <td class="text-center">
                  <input type="checkbox" class="align-middle">
              </td>
              <td class="text-center">
                  <input type="checkbox" class="align-middle">
              </td>
              <td class="text-center">
                  <input type="checkbox" class="align-middle">
              </td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td><a href="#">Чан</a></td>
              <td class="text-center">
                  <input type="checkbox" class="align-middle">
              </td>
              <td class="text-center">
                  <input type="checkbox" class="align-middle">
              </td>
              <td class="text-center">
                  <input type="checkbox" class="align-middle">
              </td>
              <td class="text-center">
                  <input type="checkbox" class="align-middle">
              </td>
              <td class="text-center">
                  <input type="checkbox" class="align-middle">
              </td>
              <td class="text-center">
                  <input type="checkbox" class="align-middle">
              </td>
              <td class="text-center">
                  <input type="checkbox" class="align-middle">
              </td>
              <td class="text-center">
                  <input type="checkbox" class="align-middle">
              </td>
              <td class="text-center">
                  <input type="checkbox" class="align-middle">
              </td>
              <td class="text-center">
                  <input type="checkbox" class="align-middle">
              </td>
              <td class="text-center">
                  <input type="checkbox" class="align-middle">
              </td>
              <td class="text-center">
                  <input type="checkbox" class="align-middle">
              </td>
              <td class="text-center">
                  <input type="checkbox" class="align-middle">
              </td>
              <td class="text-center">
                  <input type="checkbox" class="align-middle">
              </td>
              <td class="text-center">
                  <input type="checkbox" class="align-middle">
              </td>
              <td class="text-center">
                  <input type="checkbox" class="align-middle">
              </td>
              <td class="text-center">
                  <input type="checkbox" class="align-middle">
              </td>
              <td class="text-center">
                  <input type="checkbox" class="align-middle">
              </td>
              <td class="text-center">
                  <input type="checkbox" class="align-middle">
              </td>
              <td class="text-center">
                  <input type="checkbox" class="align-middle">
              </td>
              <td class="text-center">
                  <input type="checkbox" class="align-middle">
              </td>
              <td class="text-center">
                  <input type="checkbox" class="align-middle">
              </td>
              <td class="text-center">
                  <input type="checkbox" class="align-middle">
              </td>
              <td class="text-center">
                  <input type="checkbox" class="align-middle">
              </td>
              <td class="text-center">
                  <input type="checkbox" class="align-middle">
              </td>
              <td class="text-center">
                  <input type="checkbox" class="align-middle">
              </td>
              <td class="text-center">
                  <input type="checkbox" class="align-middle">
              </td>
              <td class="text-center">
                  <input type="checkbox" class="align-middle">
              </td>
              <td class="text-center">
                  <input type="checkbox" class="align-middle">
              </td>
              <td class="text-center">
                  <input type="checkbox" class="align-middle">
              </td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td><a href="#">Тарантіно</a></td>

              <td class="text-center">
                  <input type="checkbox" class="align-middle">
              </td>
              <td class="text-center">
                  <input type="checkbox" class="align-middle">
              </td>
              <td class="text-center">
                  <input type="checkbox" class="align-middle">
              </td>
              <td class="text-center">
                  <input type="checkbox" class="align-middle">
              </td>
              <td class="text-center">
                  <input type="checkbox" class="align-middle">
              </td>
              <td class="text-center">
                  <input type="checkbox" class="align-middle">
              </td>
              <td class="text-center">
                  <input type="checkbox" class="align-middle">
              </td>
              <td class="text-center">
                  <input type="checkbox" class="align-middle">
              </td>
              <td class="text-center">
                  <input type="checkbox" class="align-middle">
              </td>
              <td class="text-center">
                  <input type="checkbox" class="align-middle">
              </td>
              <td class="text-center">
                  <input type="checkbox" class="align-middle">
              </td>
              <td class="text-center">
                  <input type="checkbox" class="align-middle">
              </td>
              <td class="text-center">
                  <input type="checkbox" class="align-middle">
              </td>
              <td class="text-center">
                  <input type="checkbox" class="align-middle">
              </td>
              <td class="text-center">
                  <input type="checkbox" class="align-middle">
              </td>
              <td class="text-center">
                  <input type="checkbox" class="align-middle">
              </td>
              <td class="text-center">
                  <input type="checkbox" class="align-middle">
              </td>
              <td class="text-center">
                  <input type="checkbox" class="align-middle">
              </td>
              <td class="text-center">
                  <input type="checkbox" class="align-middle">
              </td>
              <td class="text-center">
                  <input type="checkbox" class="align-middle">
              </td>
              <td class="text-center">
                  <input type="checkbox" class="align-middle">
              </td>
              <td class="text-center">
                  <input type="checkbox" class="align-middle">
              </td>
              <td class="text-center">
                  <input type="checkbox" class="align-middle">
              </td>
              <td class="text-center">
                  <input type="checkbox" class="align-middle">
              </td>
              <td class="text-center">
                  <input type="checkbox" class="align-middle">
              </td>
              <td class="text-center">
                  <input type="checkbox" class="align-middle">
              </td>
              <td class="text-center">
                  <input type="checkbox" class="align-middle">
              </td>
              <td class="text-center">
                  <input type="checkbox" class="align-middle">
              </td>
              <td class="text-center">
                  <input type="checkbox" class="align-middle">
              </td>
              <td class="text-center">
                  <input type="checkbox" class="align-middle">
              </td>

            </tr>
        </table>

{% endblock %}
